<div class="container">
  <div class="user-details">
    <br>
    <img id="photo" alt="photo" src="https://i.postimg.cc/rm6S3mBs/data.jpg" style="border-radius: 50%;">
    <br>
    <h3>Camilo Diaz Salinas</h3>
    <h5>Data Engineer &#8226; Data Scientist &#8226; ML Engineer &#8226; AWS &#8226; Azure &#8226; Electronic Engineer</h5>
    <h6>I always keep in constant learning and evolution<br><small>When there's a will there's a way ⛩️</small></h6>
    <br>
    <h3> Profile </h3>
    <p id="parrafo-profile">I'm a Data Engineer with proven skills in solving technological challenges for startups and companies across various sectors, emphasizing my ability to transform data into actionable insights and improve operational efficiency. I specialize in implementing powerful solutions that leverage ML, NLP, cloud computing, and Big Data. I've achieved significant improvements in productivity and competitiveness for the companies I've collaborated with. Additionally, I have a strong track record of contributions to open-source projects, reflecting my commitment to the tech community and my passion for continuous learning.<br>
      In my free time I enjoy experimenting <em>(a.k.a. breaking stuff)</em> in Linux operative systems. When I get tired of technology and those kinds of topics, I like to paint and read philosophy.<br><br>
      📢 Ask me whatever you want!. I'm interested in helping and sharing.
    </p>
    <h3> Tech Stack </h3>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4 id="titulo-alltools">Development</h4>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-scala-plain-wordmark" style="color: white;"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-csharp-plain" style="color: white;"></i>
      <i class="devicon-java-plain-wordmark" style="color: white;"></i>
      <i class="devicon-javascript-plain colored"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">Machine Learning</h4>
      <i class="devicon-tensorflow-original colored"></i>
      <i class="devicon-pytorch-original colored"></i>
      <i class="devicon-scikitlearn-plain colored"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">Data</h4>
      <i class="devicon-pandas-plain-wordmark" style="color: white;"></i>
      <i class="devicon-numpy-plain-wordmark colored"></i>
      <i class="devicon-matplotlib-plain-wordmark" style="color: white;"></i>
      <i class="devicon-plotly-plain-wordmark" style="color: white;"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">SQL & NoSQL</h4>
      <i class="devicon-mysql-plain-wordmark" style="color: white;"></i>
      <i class="devicon-postgresql-plain-wordmark" style="color: white;"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">Deep Learning</h4>
      <i class="devicon-keras-plain-wordmark colored"></i>
      <i class="devicon-opencv-plain-wordmark colored"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">Deployment & Infrastructure</h4>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-kubernetes-plain-wordmark colored"></i>
      <i class="devicon-azure-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-googlecloud-plain-wordmark" style="color: white;"></i>
    </div>
    <div class="four columns">
      <h4  id="titulo-alltools">Version Control</h4>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-github-original-wordmark" style="color: white;"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
    </div>
  </div>
</div>
