<head>
</head>
<body>
<div class="container">
    <div class="user-details">
        <br>
        <img id="photo" alt="photo" src="https://i.postimg.cc/rm6S3mBs/data.jpg" style="border-radius: 50%;">
        <br>
        <h3>Camilo Diaz Salinas</h3>
        <h5>Data Engineer &#8226; Data Scientist &#8226; Data Analyst &#8226; Azure &#8226; AWS &#8226; Electronic Engineer</h5>
        <h6>I always keep in constant learning and evolution<br><small>When there's a will there's a way ⛩️</small></h6>
    </div>
</div>
