<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Adversary Attack" src="{{ "/assets/img/pro_1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Fruit Infection Disease </h5>
      <ul>
        <li id="toolsuse">Python: 3.9, TensorFlow(tf): 2.9.1, TensorFlow Keras(models, layers): 2.9.1, ImageDataGenerator(preprocessing.image): 2.4.0, ModelCheckpoint(callbacks): 2.9.1, matplotlib.pyplot(plt): 3.6.2, os, gc, l1_l2(regularizers): 2.9.1, InceptionV3(applications.inception_v3): 2.9.1, TensorBoard(callbacks): 2.9.1, numpy(np): 1.23.1, preprocessing(image): 2.4.0</li>
      </ul>
      <p>Disease classifier in strawberries, tomatoes, and beans using Computer Vision with TensorFlow and Keras.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Fruit-Infection-Disease" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Platzigram_Django" src="{{ "/assets/img/pro_2.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Object Detection - Marine Animals </h5>
      <ul>
        <li id="toolsuse">Python: 3.9, os, zipfile: 3.10, random, shutil: 3.10, json: 3.7.4, pickle: 5.0.0, pandas(pd): 1.5.2, tensorflow(tf): 2.9.1, sys, PIL(Image): 9.1.0, object_detection.utils: 0.1.0, collections(namedtuple, OrderedDict), object_detection.utils: 0.1.0, object_detection.protos: 0.1.0, google.protobuf: 3.20.1</li>
      </ul>
      <p>This project aims to use artificial intelligence-based object detection technology to contribute to the conservation and preservation of manta rays, sharks, and sea turtles in the Caribbean Sea.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Object-Detection-Marine-Animals" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Adversary Attack" src="{{ "/assets/img/pro_3.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Amazon reviews - Sentiment-algorithms </h5>
      <ul>
        <li id="toolsuse">Python: 3.9, google.colab, sklearn.feature_extraction.text.TfidfVectorizer: 1.1.3, sklearn.feature_selection.SelectKBest, chi2: 1.1.3, sklearn.model_selection.train_test_split: 1.1.3, sklearn.linear_model.LogisticRegression: 1.1.3, sklearn.ensemble.RandomForestClassifier: 1.1.3, sklearn.naive_bayes: 1.1.3, sklearn.metrics.confusion_matrix: 1.1.3, seaborn(sns): 0.14.1, numpy(np): 1.23.5, nltk: 3.8 nltk.corpus.stopwords</li>
      </ul>
      <p>Sentiment model with NLP classifying books reviews on Amazon from 1 to 5.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Amazon-reviews---Sentiment-algorithms" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="WebLinearRegresion" src="{{ "/assets/img/pro_4.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Color Detection - Backpropagation-MLP </h5>
      <ul>
        <li id="toolsuse">Java(JDK,JRE,Java Standard Library): 11(LTS), Apache Commons IO: 2.12.1, StringTokenizer, BufferedReader, PrintWriter</li>
      </ul>
      <p>With the backpropagation of the neural network, it is planned to be used for yellow color detection. Completely programmed in Java.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Backpropagation-MLP" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Wardo Ecommerce" src="{{ "/assets/img/pro_5.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Fuzzy-PD-controller </h5>
      <ul>
        <li id="toolsuse">Webots: R2019b, Java: 11(LTS), Webots Java API: R2019b, Fuzzy PD controller(own implementation)</li>
      </ul>
      <p>A fuzzy PD Controller for a pre-designed arm in Webots R2019b.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Fuzzy-PD-controller" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="CMS with rails" src="{{ "/assets/img/pro_6.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Analysis Of World Population Dataset 🌎 </h5>
      <ul>
        <li id="toolsuse">Python: 3.9, Pandas: 1.5.2, NumPy: 1.23.1, Seaborn: 0.12.1, Plotly Express: 1.9.0, Matplotlib: 3.6.2</li>
      </ul>
      <p>The data is from US Census Bureau. We are given the population of every countries from years 1970,1980,1990,2000,2010,2015,2020 and 2022.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Analysis-Of-World-Population-Dataset" target="_blank">See Repository</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Notevares_apk" src="{{ "/assets/img/pro_7.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Playlist_Simulator </h5>
      <ul>
        <li id="toolsuse">Python: 3.9, random: 3.9, queueList(PlayList)</li>
      </ul>
      <p>A simulator of a music playlist was created which applies the use of Queue based on Nodes.</p>
      <a class="project-link" href="https://github.com/JavierdiazS/Playlist-Simulator" target="_blank">See Repository</a>
    </div>
  </div>
</div>
